<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Компоненты24</title>

    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/ui.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="header__nav">
                <a href="admin.html">Панель</a>
                <a href="admin-orders.html">Заказы</a>
                <a href="admin-blog.html">Блог</a>
                <a href="admin-categorytype.html">Категории и типы</a>
                <a href="admin-questions.html">Вопросы клиентов</a>
                <a href="admin-product.html">Товар</a>
                <a href="logout.html">Выйти</a>
            </nav>
        </header>
        <main>
            <section class="admin__sec admin_panel__sec">
                <div class="container">
                    <h2 class="title__main">Административная панель</h2>
                    <article>Вы — сердце нашего бизнеса! Каждый ваш шаг, каждое решение и каждое взаимодействие с
                        клиентами приближают нас к успеху. Помните, что ваша работа вдохновляет и поддерживает людей в
                        их стремлении к инновациям и технологиям. Давайте вместе создадим удивительное будущее, полное
                        возможностей и достижений! Каждый день — это новая возможность сделать мир лучше. Вперед к новым
                        вершинам!</article>
                    <ul class="card_info__list">
                        <a href="admin-orders.html" class="card info__card">
                            <img src="assets/media/image/profile/orders.png" alt="security">
                            <h3>Заказы</h3>
                        </a>
                        <a href="admin-blog.html" class="card info__card">
                            <img src="assets/media/image/profile/blog.png" alt="money">
                            <h3>Блог</h3>
                        </a>
                        <a href="admin-categorytype.html" class="card info__card">
                            <img src="assets/media/image/profile/category.png" alt="catalog">
                            <h3>Категории</h3>
                        </a>
                        <a href="admin-product.html" class="card info__card">
                            <img src="assets/media/image/profile/product.png" alt="speed">
                            <h3>Товары</h3>
                        </a>
                        <a href="admin-questions.html" class="card info__card">
                            <img src="assets/media/image/profile/questions.png" alt="speed">
                            <h3>Вопросы клиентов</h3>
                        </a>
                    </ul>
                    <a href="logout.html" class="btn">Выйти</a>
                </div>
            </section>
        </main>
    </div>

    <script src="assets/js/main.js"></script>
</body>

</html>