<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Компоненты24</title>

    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/ui.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="header__nav">
                <a href="admin.html">Панель</a>
                <a href="admin-orders.html">Заказы</a>
                <a href="admin-blog.html">Блог</a>
                <a href="admin-categorytype.html">Категории и типы</a>
                <a href="admin-questions.html">Вопросы клиентов</a>
                <a href="admin-product.html">Товар</a>
                <a href="logout.html">Выйти</a>
            </nav>
        </header>
        <main>
            <section class="admin__sec admin_questions__sec">
                <div class="container">
                    <h2 class="title__main">Вопросы клиентов</h2>
                    <article>Каждый вопрос — это возможность для нас улучшить сервис и укрепить доверие наших
                        клиентов.Пожалуйста, внимательно просматривайте поступившие вопросы и старайтесь давать
                        подробные и понятные ответы. Не забывайте, что ваша отзывчивость и профессионализм играют
                        ключевую роль в создании положительного опыта для наших пользователей. Вместе мы можем сделать
                        наш магазин еще лучше!</article>
                    <ul class="admin__list">
                        <li class="head">
                            <p>Имя</p>
                            <p>Телефон</p>
                            <p>Текст вопроса</p>
                        </li>
                        <li>
                            <p class="name">Алексей Иванов</p>
                            <p class="phone">+7 (123) 456-78-90</p>
                            <p class="question">Когда будет доступен товар, который я заказал? Я переживаю, что доставка задерживается.</p>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
    </div>

    <script src="assets/js/main.js"></script>
</body>

</html>